/* nav styles */
.nav{
    padding: 2rem 0;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
    display: none;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__list li{
    display: inline-block;
    margin: 0 1rem;
}

.nav__list .nav__link{
    font-size: 1.8rem;
    font-family: 'Poppins';
    color: var(--black-1);
    padding: 0.5rem;
}

.nav__list li :hover .nav__link{
    color: var(--black-2);
}

@media only screen(max-width: 768px){
    .nav{
        position: relative;
    }
    .nav__icon{
        display: block;
    }
    .nav__icon__svg, .nav__close__svg{
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close{
        display: block;
        position: absolute;
        color: var(--black-1);
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
    
    .nav__list{
        z-index: 1000;
        position: absolute;
        top = 0;
        height = 100vh;
        width = 80%;
        background: var(--white-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translateX(0%);
        overflow: hidden;
        transition: .3s ease-in transform;
    }
    .nav__list__show{
        transform: translateX(-100%);
    }
    .nav__list li{
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }
    .nav__list a {
        font-size: 1.6rem;
    }
    .nav__bgOverlay{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        display: none;
    }
    .nav__bgOverlay.active{
       display: block;
    }
}

/* Global Button Style*/

.btn{
    color: var(--black-1);
    font-family: Poppins;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 1.2rem 1.8rem;
}

.primary-btn{
    color: var(--white-1);
    background: var(--black-1);
}

@media only screen and (min-width: 768px){
    .btn{
        padding: 1rem 1.6rem;
        font-size: 1.5rem;
    }
}

/* Footer Styles */
footer{
    background: var(--black-2);
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__logo{
    width: 150px;
    margin-bottom: 2rem;
}
.footer__desc{
    font-size: 1.4rem;
    color: var(--white-1);
    margin-bottom: 2rem;
}
.footer__social__title{
    font-size: 1.8rem;
    color: var(--white-1);
    margin-bottom: 1rem;
}
.footer__social li{
    display: inline-block;
    margin-right: 0.5rem;
}
.footer__social a{
    padding: 0.5rem 0.8rem;
    background-color: var(--white-1);
    border: 1px solid var(--white-1);
    border-radius: 8px;
}
.footer__social svg{
    width: 20px;
    color: var(--black-1);
}
.footer__text_title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--white-1);
}
.footer__text a{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--white-1);
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.4em;
    text-align: left;
}

@media only screen and(min-width: 768px){
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.footer__wrapper{
    flex-direction: row;
}
.footer__col1, .footer__col2,.footer__col3,.footer__col4{
    flex: 3rem;
    justify-content: left;
}
.footer__social__title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.footer__text_title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer__text a{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#copyright{
    padding: 1rem 0;
}
.copyright__text{
    font-size: 1.4rem;
    text-align: center;
}
@media only screen and(min-width: 768px){
    .copyright__text{
        font-size: 1.6rem;
        text-align: left;
    }
}
/*store info */
.StoreInfo__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.StoreInfo__item{
    background-color: var(--white-1) ;
    padding: 2px 1px;
    text-align: center;
    border-radius: 12px;
    width: 150px;
}
.StoreInfo__title{
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--black-1);
}
.StoreInfo__text{
    font-size: 1.1rem;
    font-family: Raleway;
    color: var(--black-1);
}
.StoreInfo__icon svg{
    width: 20px;
    color: var(--black-1);
}
.StoreInfo__title{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.StoreInfo__wrapper{
    gap: 2rem;
}
/* DishGrid Styles */
.DishGrid__title{
    font-size: 2rem;
    color: var(--black-1);
    margin-bottom: 2rem;
}

.DishGrid__wrapper{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    max-width: none;
}

.DishGrid__Item{
    flex: 1;
    display: flex;
    gap: 2rem;
    background-color: var(--black-1);
    padding: 3rem;
    border-radius: 12px;
}

.DishGrid__Item__Image,
.DishGrid__Item__Info{
    flex: 1;
}
.DishGrid__Item__Image{
    border-radius: 12px;
    overflow: hidden;
}
.DishGrid__Item__Image img{
    object-fit: cover;
}
.DishGrid__Item__Title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--white-1);
    line-height: 1.2em;
}
.DishGrid__Item_Price{
    font-size: 1.4rem;
    color: var(--white-1);
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.DishGrid__Item__Info{
    font-size: 1.2rem;
    font-family: Poppins;
    color: var(--white-1);
    font-weight: 400;
}
/* Form Style*/
#form{
    padding: 5rem 0;
}
.form__title{
    font-size: 3rem;
    color: var(--black-1);
    font-weight: 600;
}
.form__wrapper{
    padding: 5rem 0;
}
.form__wrapper form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}
.form__group label{
    font-size: 1.8rem;
    font-family: Poppins;
    color: var(--black-1);
    font-weight: 500;
}
.form__group input,
.form__group textarea,
.form__group select{
    width: 100%;
    border: none;
    background-color: var(--white-1);
    font-size: 1.8rem;
    font-family: Raleway;
    font-weight: 600;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    color: var(--black-1);
}

.form__group textarea{
    resize: vertical;
}
.form__wrapper button[type = submit]{
    width: max-content;
    border: none;
    padding: 1rem 4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.form__group__full{
    grid-column: 1/3;
}